HOST=localhost
PORT=3031

# Cors allow
CORS_ORIGIN="*"

# DB configuration
DB_URL=mongodb://127.0.0.1:27017/boilerplate-DB

# hacker slow down and blocking
WINDOW_BLOCK_SECOND=30
PER_WINDOW_MAX_REQUEST=30


# JWT configuration
JWT_ACCESS_SECRET=jwt-access
JWT_REFRESH_SECRET=jwt-refresh
JWT_ACCESS_EXPIRATION_MINUTES=1440
JWT_REFRESH_EXPIRATION_MINUTES=4320

JWT_BASIC_USER=test-client
JWT_BASIC_SECRET=test-client
